body{
    margin:0px;
    font-family: sans-serif;
    background-color:  whitesmoke;
}
a:link{
    text-decoration: none;
    font-family: "Neue Montreal",sans-serif;
}


.nav-bar{
    width: 100%;
    height: 60px;
    background-color:whitesmoke ;
    display: flex;
    margin: auto;   
    justify-content: space-between;
    border: 1px solid;  
}
.my-name{
    padding-left: 100px;
    margin-top: 8px;
    font-family:cursive;;
    font-size: xx-large;
    width: 50%;
}
.nav-menu{
    font-style: italic;
    display: flex;
    justify-content: space-evenly;
}
.menu{
    padding-left: 250px;
    font-size: 50px;    
}
.navpart2{
    width: 50%;
    margin-top: 20px;
}


#home{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
    margin-top: 0;
    display: flex;
}
.head1{
    font-size: 70px;
    font-weight: bolder;
    color: rgb(54, 56, 165);
}
.head2{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(54, 56, 165);
}
.head-color{
    color: rgb(142, 23, 179);
}
.home-para{
    font-size: 20px;
    color: black;
}
.home-left{
    /* border: 1px solid black; */
    font-size: 40px;
    color: black;
    width: 50%;
}
.social-media{
    /* border: 1px solid black; */
    text-decoration: none;
    display: flex;
    /* border:; */
}
icon-container{
    width: 70px;
    height: 70px;
    /* border: 3px solid #00ff51; */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}
.contact-btn{
    width: 150px;
    height: 45px;
    /* background-color: #00ff51; */
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 1s;
}
.home-right{
    /* border: 1px solid black; */
    width: 50%;
    margin-top: 30px;
}
.photo1{
    width: 500px;
    height: 600px;
    border-radius: 10%;
}


#about{
    width: 100%;
    height: 100vh;    
}
.about-left{
    /* border: 1px solid black; */
    /* width: 100%; */
    display:flex;
}
.about-right{
    width: 50%;
    /* border: 1px solid black;  */
    margin-left: 200px;   
}
.photo2{
    width: 330px;
    height: 400px;
    margin-left: 150px;
    margin-top: 10px;
    border-radius: 10%;
}
.about-para{
    font-size: 25px
}
.about-head{
    font-size: 40px;
}


#skill{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.skill-head{
    font-size: 65px;
    font-weight: bolder;
    color: rgb(54, 56, 165);
    /* border: 1px solid black; */
}
.skill-container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}
.skill-sub{
    height: 100%;
    width: 50%;
    background-color:rgb(234, 183, 250);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(42, 11, 82);
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.skill-sub i{
    font-size: 100px;
}
.skill-icon-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-para{
    font-size: 19px;
    margin-left: 10px;
    margin-right: 10px;
}
#one{
    margin-bottom: 160px;
    /* margin-left: 10px;
    margin-right: 10px; */
}


#project{

    width: 100%;
    height: 100vh;
    /* background-color: #001005; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    margin-top: 20px;  
} 
.project-head{
    font-size: 65px;
    font-weight: bolder;
    color: rgb(54, 56, 165);
    /* border: 1px solid black; */
}
.project-container{
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}
.project-sub{
    height: 75%;
    width: 30%;
    /* background-color: #00ff51; */
    /* border: 5px solid #00ff51; */
    border-radius: 50px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    /* border: 1px solid black; */
}
.project-sub-one{
    background-image: url(Images/Airbnb.png);
    background-size: cover;
    border: 1px solid black;
    
}
.project-sub-two{
    background-image: url(Images/LinkedIn.png);
    background-size: cover; 
    border: 1px solid black;
}
.project-sub-three{
    background-image: url(Images/Trivago.png);
    background-size: cover;
    border: 1px solid black;
}
.project-sub a{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    /* color: black; */
} 


#contact{
    /* padding-top: 100px; 
    margin-top: -100px; */
    width: 100%;
    height: 100vh;
    /* background-color: rgb(201, 106, 230); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contact-head{
    font-size: 65px;
    font-weight: bolder;
    /* color: rgb(201, 106, 230); */
    /* border: 1px solid black; */
}
.contact-form{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}
.contact-input{
    width: 90%;
    height: 15%;
    padding-left: 20px;
    border-radius: 30px;
    border: 5px solid rgb(198, 135, 218);
}
#message{
    width: 90%;
    height: 35%;
    border-radius: 30px;
    border: 5px solid rgb(198,135,218);
    outline: none;
    /* background-color: bisque; */
}
#send{
    width: 200px;
    height: 45px;
    background-color: rgb(172, 107, 192);
    border-radius: 25px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 1s;
}
/* .contact-btn:hover{
    transform: scale(1.2);
} */
/* .navbar-items a:hover{
    color: #00ff51;
} */
/* .icon-container:hover{
    background-color: #00ff51;
    transform: scale(1.2);
} */
/* .icon-container i:hover{
    color: white;/
} */
.contact-form input::placeholder{
    font-size: 20px;
}
#send:hover{
    transform: scale(1.2);
}